{% extends 'base.html' %}

{% block content %}

<!-- Simpley Prices Block -->
<div class="container">
	<div class="row my-2">
		{% for key, value in price.items %} 
			<div class="col-sm">
				<span class="border-0">{{key}} - {{value.USD}} $</span>
			</div>
		{% endfor %}	
	</div>
</div>

<!--  News block -->
<div class="jumbotron">
  <h1 class="display-4">Welcome To Crypto News Network!</h1>
  <p class="lead">Your Source For Up To The Minute Crypto Currency and Blockchain News.</p>
</div>

<div class="container">
	<div class="row">
		{% for x in news.Data %}
			<div class="col-sm">
				<div class="card" style="width: 18rem;">
				  <img class="card-img-top" src="{{ x.imageurl }}" alt="{{ x.source }}">
				  <div class="card-body">
				    <h5 class="card-title">{{ x.title }}</h5>
				    <p class="card-text">{{ x.body }}</p>
				    <a href="{{ x.url }}" class="btn btn-secondary">Read More ...</a>
				  </div>
				</div>
				<br/>
			</div>
		{% endfor %}
	</div>
</div>

{{price}}
{{news.Data}}

{% endblock %}