{% extends 'base.html' %}

{% block content %}

<!-- Prices Top Block -->
{% comment "Top Pricing block" %}
<div class="container">
	<div class="row my-2">
		{% for key, value in price_full.DISPLAY.items %} 
			<div class="col-sm">
				{{key}} - {{value.USD.PRICE}}
			</div>
		{% endfor %}
	</div>	
</div>
{% endcomment %}

<!--  Welcome block -->
<div class="jumbotron">
  <h1 class="display-4">Welcome To Crypto News Network!</h1>
  <p class="lead">Your Source For Up To The Minute Crypto Currency and Blockchain News.</p>
</div>

<!-- Full Prices Block -->
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <!--th scope="col">24h High</th-->
      <!--th scope="col">24h Low</th-->
      <th scope="col">MarketCup</th>
    </tr>
  </thead>
  <tbody>
  	{% for key, value in price_full.DISPLAY.items %}
	    <tr>
	      <th scope="row">{{ key }}</th>
	      <td>{{ value.USD.PRICE}}</td>
	      <!--td>{{ value.USD.HIGHDAY}}</td-->
	      <!--td>{{ value.USD.LOWDAY}}</td-->
	      <td>{{ value.USD.MKTCAP}}</td>
	    </tr>
    {% endfor %}
  </tbody>
</table>

<!--  News block -->
<div class="container">
	<div class="row">
		{% for x in news.Data %}
			<div class="col-sm">
				<div class="card" style="width: 18rem;">
				  <img class="card-img-top" src="{{ x.imageurl }}" alt="{{ x.source }}">
				  <div class="card-body">
				    <h5 class="card-title">{{ x.title }}</h5>
				    <p class="card-text">{{ x.body }}</p>
				    <a href="{{ x.url }}" class="btn btn-secondary">Read More ...</a>
				  </div>
				</div>
				<br/>
			</div>
		{% endfor %}
	</div>
</div>

{% comment "Debuging block" %}
	{{ price_full.DISPLAY }}
	{{news.Data}}
{%  endcomment %}

{% endblock %}